{% extends "base.html" %}
{% block title %} 英雄选择工具 {% endblock %}

{% block content %}

   <label>选择位置：
       {% if position == "empty" %}
        <div class="text-danger">
            <b> * </b>
        </div>
        {% endif %}
        <select name="position">
            <option value="empty" selected></option>
            {%  for i in range(0, positions|length) %}
                <option value={{positions[i][0]}}>{{positions[i][1]}</option>
            {% endfor %}
        </select>
   </label>

    {% if position == "empty" %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>位置</th>
                    <th>英雄</th>
                </tr>
            </thead>
            <tbody>
                <tr> 敌方 </tr>
                {%  for i in range(0, positions|length) %}
                    {% if position !=  positions[i][0] %}
                        <tr>
                    {% else %}
                        <tr style="background-color: darkgoldenrod">
                    {% endif %}
                      <td class="col-md-4">{{positions[i][1]}}</td>
                      <td class="col-md-4">
                        <select name="champions">
                            {%  for i in range(0, champions|length) %}
                               <option value={{champions[i]}}>{{champions[i]}}</option>
                            {% endfor %}
                        </select>
                      </td>
                    </tr>
                {% endfor %}
                <tr> 己方 </tr>
                {%  for i in range(0, positions|length) %}
                    {% if position !=  positions[i][0] %}
                    <tr>
                      <td class="col-md-4">{{positions[i][1]}</td>
                      <td class="col-md-4">
                        <select name="champions">
                            {%  for i in range(0, champions|length) %}
                               <option value={{champions[i]}}>{{champions[i]}}</option>
                            {% endfor %}
                        </select>
                      </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}