<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>

<div class="container">

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/"> 主页 </a>
    <a href="/game" class="navbar-brand"> 游戏 </a>
    <a href="/register" class="navbar-brand"> 注册 </a>
</nav>


<h1> 谁是演员 </h1>

Lol内战，每队随机分配一名演员。比赛结束后，输的一方需要进行一次复盘投票，决定队里演员是谁。<br>


<h3>平民</h3>
获得比赛胜利，+1pt，失利，-1pt。胜利方kda最高者额外+1pt. <br>

<h3>演员</h3>
演员获得比赛胜利，并且kda是团队最高：称号【改邪归正】，0pt <br>
演员获得比赛胜利，但是kda不是最高：-1pt <br>
演员获得比赛失利，但是获得最多票数：称号【捉奸在床】，-3pt <br>
演员获得比赛失利，没有获得最多票数，并且kda为团队最高：称号【运筹帷幄】，+5pt <br>
演员获得比赛失利，没有获得最多票数：称号【蒙混过关】，+3pt <br>


<h3>小规则</h3>
1. KDA计算为 (2 * kill + assist) / death，以鼓励大家的抢人头行为 <br>
2. 最后的投票如果出现平票，kda最高的人的票数+0.5

<h2> 如何使用 </h2>
    每位参加的选手需要先点击<b>注册</b>按钮，在每位玩家都加入游戏之后，点击开始游戏进行随机分队。玩家可以通过昵称知道自己是不是本队演员。
    比赛结束，玩家需要先进行投票。投票后点击结束游戏，即可看到演员是谁。
</div>

</body>
</html>