{% extends "base.html" %}
{% block title %} Leaderboard {% endblock %}

{% block content %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>排名</th>
                <th>头像</th>
                <th>玩家</th>
                <th>ELO</th>
                <th>皮肤GET</th>
                <th>皮肤送出</th>
            </tr>
        </thead>
        <tbody>
        {%  for i in range(0, leaders|length) %}

            {% if i == 0 %}
                <tr style="background-color: gold">
            {% elif i == 1 %}
                <tr style="background-color: silver">
            {% elif i == 2 %}
                <tr style="background-color: darkgoldenrod">
            {% else %}
                <tr>
            {% endif %}

            <td class="col-md-1">
                {{ i + 1 }}
            </td>
            <td class="col-md-1">
                 <img width=30 height=30 style="border-radius:50%;"
                      src="http://ddragon.leagueoflegends.com/cdn/13.11/img/profileicon/{{ leaders[i].profile_icon }}.png">
            </td>
            <td class="col-md-4">
                {% if leaders[i].summoner_name == username %}
                    <b> {{ leaders[i].summoner_name }} </b>
                {% else %}
                    {{ leaders[i].summoner_name }}
            {% endif %}
        </td>
        <td class="col-md-4">
            {{ "%.0f" | format(leaders[i].elo) }}
        </td>
        <td class="col-md-1 text-success">
            {{ leaders[i].skin_received }}
        </td>
        <td class="col-md-1 text-danger">
            {{ leaders[i].skin_gifted }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}