{% extends "base.html" %}
{% block title %} {{ profile.summoner_name }}'s profile {% endblock %}

{% block content %}

    <table class="table table-striped">
        <tbody>
            <tr>
                <td class="col-md-1">
                    <img width=60 height=60 style="border-radius:50%;"
                          src="http://ddragon.leagueoflegends.com/cdn/14.4.1/img/profileicon/{{ profile.profile_icon }}.png">
                </td>
                <td class="col-md-2">
                    <h3 class="text-info"> {{ profile.summoner_name }} </h3>
                </td>
                <td class="col-md-6" style="vertical-align: middle;">
                    {% if profile['solo_ranked']|length > 0 %}
                        <img width=30 height=30 src="../static/ranked-emblems/Emblem_{{ profile['solo_ranked']['tier'] }}.png">
                        Solo Rank: {{ profile['solo_ranked']['tier'] }} {{ profile['solo_ranked']['rank'] }}
                        <span class="text-muted"> {{ profile['solo_ranked']['leaguePoints'] }} LP </span> <br>
                    {% endif %}
                    {% if profile['flex_ranked']|length > 0 %}
                        <img width=30 height=30 src="../static/ranked-emblems/Emblem_{{ profile['flex_ranked']['tier'] }}.png">
                        Flex Rank: {{ profile['flex_ranked']['tier'] }} {{ profile['flex_ranked']['rank'] }}
                        <span class="text-muted"> {{ profile['flex_ranked']['leaguePoints'] }} LP </span>
                    {% endif %}
                </td>
                <td class="col-md-3" style="vertical-align: bottom;">
                    <h4>Most Recent 20 Games</h4>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped">
        <tbody>
        {%  for i in range(0, profile.match_history|length) %}
        <tr>
            <td class="col-md-1">
                {% if profile.match_history[i].win %}
                <h4 class="text-success"> Victory </h4>
                {% else %}
                <h4 class="text-danger"> Defeat </h4>
                {% endif %}
            </td>
            <td class="col-md-1">
                <img width="50" height="50" style="border-radius:50%";
                     src="http://ddragon.leagueoflegends.com/cdn/14.4.1/img/champion/{{ profile.match_history[i].champion_name }}.png">
            </td>
            <td>
                {{ profile.match_history[i]['kills'] }} / {{ profile.match_history[i]['deaths'] }} / {{ profile.match_history[i]['assists'] }} <br>
                Adjusted KDA: {{ "%.2f" | format(profile.match_history[i]['kda']) }}
            </td>
            <td>
                {{ "%.0f" | format(profile.match_history[i]['damage_per_min']) }} DMG/min <br>
                {{ "%.0f" | format(profile.match_history[i]['team_damage_percentage'] * 100)}}% of team
            </td>
            <td>
                {{ "%.1f" | format(profile.match_history[i]['cs_per_min']) }} CS/min <br>
                {{ "%.0f" | format(profile.match_history[i]['cs']) }} CS
            </td>
            <td class="text-muted">
                {{ profile.match_history[i].game_mode }}
            </td>
        <td>

        </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}>